* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(23, 35, 161);
    color: white;
}

/* ======Header====== */
.header {
    background-color: rgb(13, 21, 108);
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid #4E56B0 ;
    border-radius: 0 0 20px 20px;
}
.header h1{
    padding: 5px;
}
.header p{
    font-size: 16px;
    padding: 5px;
}
.logo{
    width: 30px;
    position: relative;
    top: 8px;
}

/* =====Carde principal====== */
.card-main {
    margin-top: 30px;
    background-color: rgb(13, 21, 108);
    border: 3px solid #4E56B0;
    border-radius: 15px;
    width: 640px;
    padding-bottom: 10px;

    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.titulo-video {
    text-align: center;
    padding: 10px;
}
.video-principal {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
}

/* =====control style===== */
.controle {
    padding: 2px;
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background-color: rgba(0, 0, 0, 0.584);
}
.btn {
    width: 38px;
    background-color: rgba(120, 120, 120, 0.715);
    padding: 5px;
    border-radius: 8px;
    margin: 0px 2px 0px 2px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(51, 51, 51);
}
#progresso{
    width: 100%;
    cursor: pointer;
}
.input {
    width: 20%;
    transform: translateY(50%);
    cursor: pointer;
}

/* =====Lista de vídeos===== */
.container-list {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template: auto auto auto / auto auto;
    justify-items: center;
    gap: 15px;

    padding: 15px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-list-item {
    background-color: rgb(13, 21, 108);
    border: 3px solid #4E56B0;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.4s;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-list-item:hover {
    box-shadow: #efefef 0px 0px 10px 2px;
}
.card-list-item:active{
    transform: scale(0.90);
}
.card-list-item h4{
    margin-top: 5px;
    padding: 5px;
}
.img-list {
    width: 95%;
    border-radius: 6px;
}

/* =====Footer===== */
.footer {
    margin-top: 35px;
    text-align: center;
    background-color: rgb(13, 21, 108);
    padding: 5px 12px 5px 12px;
    border-radius: 20px 20px 0px 0px;
    border-top: 2px solid #4E56B0;
    font-size: 21px;
}
.footer h6{
    color: rgb(255, 255, 255);
    margin: 5px 0px 5px 0px;
}
.link {
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 768px) {
    /* =====Carde principal===== */
    .card-main {
        width: 90%;
    }
    /* =====control style===== */
    .btn {
        width: 32px;
    }
    /* =====Lista de vídeos===== */
    .container-list {
        grid-template: auto auto auto auto auto auto / auto;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .card-list-item {
        width: 70%;
    }
}


@media screen and (max-width: 425px) {
    /* =====control style===== */
    .btn {
        width: 28px;
    }
    /* =====Lista de vídeos===== */
    .container-list {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .card-list-item {
        width: 85%;
    } 
}